body {
	background: white;
	width: 100%;
	margin: 0;
	padding: 0;
}
 html {
  font: Verdana, sans-serif;
  width: 100%;
  text-align: center;
}

.header {
	margin: 0;
	font-size: 50px;
	font-family: Helvetica;
	font-style: normal;
	text-align: center;
	padding-bottom: -20px;
	padding-top:20px;
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
	text-align: center;
	font-size:23px;
	font-family:Arial;
	font-style: normal;
	color:gray;
  padding-bottom:20px;
}

/* BUTTONS */
.dropdown {
  position: relative;
  display: inline-block;
  text-align: center;
  padding-bottom: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  text-align: center;
  padding-bottom: 20px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  padding-bottom: 20px;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
  padding-bottom: 20px;
}

.butt, .input {
  padding: .75rem;
  margin: .375rem;

  background-color: transparent;
  border-radius: 5px;
  padding-bottom: 20px
}

.butt:focus, .input:focus {
  outline: none;
  padding-bottom: 20px;
}

.butt {
  border: 2px solid #f35626;
  line-height: 1.375;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  font-weight: 700;

  color: #f35626;

  cursor: pointer;
  -webkit-animation: hue 60s infinite linear;
  padding-bottom: 20px;
}

.input {
  border: 1px solid #c0c8c9;
  border-radius: 4px;
  padding-bottom: 20px;
}

.dropdownMenu {
  background-image: url("images/ddown.png");
  background-image: url("images/ddown.svg?3"), none;
  background-repeat: no-repeat;
  background-size: 2.0rem 1rem
  background-position: right center;
  padding-bottom: 20px
 }




