<!DOCTYPE html>
<html>
  <head>
    <title>NYTimes Search API</title>
  </head>
  <body ng-app="nytimesApp">
  	<!-- <div class="container" ng-controller="MainCtrl">
  		<div ng-repeat="a in articles">
  			<h3><a href="{{a.url}}">{{a.title}}</a></h3> </div>
  	</div>  -->

  	<div ng-controller="SearchCtrl">
  		<input ng-model="searchQuery">
      	<button ng-click="searchAPI(searchQuery)" class="form-control">Search</button>
      	<div ng-repeat="a in articles">
        <h3><a href="{{a.url}}">{{a.headline.main}}</a></h3></div>
      	 
  	</div>

  	<script src="angular.js"></script>
  	<script src="script.js"></script>
  </body>
</html>
