<!DOCTYPE html>
<html>
  <head>
    <h1>Jodie's Grocery List!<h2>
  </head>
  <body ng-app="listApp">
    <div ng-controller="ListCtrl">

      <div>Food Item:</div>
        <input ng-model="foodItem">
      <div>Quanitity:</div>
        <input ng-model="quantity">

      <div><button ng-click="addGrocery()">Add to list!</button>
      </div>

      <label>Search: <input ng-model="searchText"></label>
      
      <ol>
        <li ng-repeat="todo in todos track by $index">
          {{todo.name}} - {{ todo.quantity }} 
          <button ng-click="doAdd(todo)"> + </button>
          <button ng-click="doSubtract(todo)"> - </button>
        </li>
      </ol>

      <!-- <table id="searchTextResults">
        <tr ng-repeat="todo in todos | filter:searchText">
          <td>{{todo.name}}</td>
          <td>{{todo.quantity}}</td>
        </tr>
      </table>  -->    
      
    </div>
    
    <script src="angular.js"></script>
    <script src="grocerylist.js"></script>
  </body>
</html>