<!-- Practicing with Angular  -->
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body ng-app>
    
    <!-- <div ng-class="{'myClassname': myvar, 'classToApply': another}"></div>
    <a href="#" ng-click="myvar = !myvar">Click me</a>
    <a href="#" ng-click="another = !another">Click me</a>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.js"></script> -->


    <!--Showing an Image-->
    <div class="showinganimage">
	    <a href=# ng-click="showImg = !showImg">Click Me</a>
	    <div ng-click="showImg = false" ng-show="showImg"></div>
	    <div ng-show="showImg" class="lightbox">
	    	<img src="puppums.jpg">
	    </div>
	</div>

    <!-- ng-model -->
    <div class="model">
    	<h1>Enter a greeting</h1>
    	<input ng-model="greeting" type="text"> {{greeting}}
    </div>

    <!-- ng-click -->
    <div class="click">
    	<h2>Enter a name</h2>
    	<input ng-model="name" type="text"> 
    	<div ng-click="name='jodie'">Click to change the name! {{name}}</div>
    </div>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.js"></script>
  </body>
</html>