body {
	background: black;
	width: 100%;
	margin: 0px auto ;
	padding: 0;
}

.container {
	margin: 0px 0px;
	width: 100%;
	display: inline-block;
	/* border:2px solid white; // to see how big your container is */
}
/*------header------*/
#navbar {
	padding-top: 15px;
}
#navbar ul {
	list-style-type: none;
	margin: 0px ;
	padding: 0;
	overflow: hidden;
	font-family:sans-serif;
}
#navbar li {
	float:right;
}
#navbar li a {
	display: block;
	color: white;
	padding: 14px 15px; /* provides spacing between words*/
	text-decoration: none;
}
#navbar li a:hover:not(.active) {
	background-color: #111;
}
.active {
	text-decoration: underline #4CAF50;
}
/*------row 2------*/
.row-2 ul{
	list-style-type: none; /* gets rid of bullet points*/
	color:white;
	text-decoration: none; 
	font-family: sans-serif;
}
.row-2 li a {
	display: inline-block;
	color: white;
	text-align: center;
	text-decoration: none;
}
#description {
	float: left;
	width: 50%;
	font-size:25px;
}
#contact-info {
	float: right;
	width: 20%;
	font-size:15px;
}
#social-media {
	float:right;
	width:10%;
	font-size:15px;
}

/*------row 3 and 5------*/
.row-3-pictures ul li{
	display:inline-block;
	max-width: 100%;
    height: auto;
}
.bigImage{ /* list element li ONLY */
	float:left;
	width:62%;
	padding:10px;
}
.bigImage img{ /* accesses image within the list */
	float:left;
	width:100%;
}
.smallImage {
	float:left;
	width:30%;
	padding:10px;
}
.smallImage img {
	float:left;
	width:100%;
}
.row-3-pictures ul li{
	display:inline-block;
	max-width: 100%;
    height: auto;
}
/*-----row 4 and 6------*/
.bigImageRight{ 
	float:right;
	width:62%;
	padding:10px;
	margin-right:55px;
}
.bigImageRight img{ 
	float:right;
	width:100%;
}
.smallImageRight {
	float:right;
	width:30%;
	padding:10px;
}
.smallImageRight img {
	float:right;
	width:100%;
}

